
*{
    background-color: oldlace;
}

body {
width: 80%;
border: 20px solid #bdc3c7;
font-family: "Source Sans Pro", sans-serif;
max-width: 700px;
padding: 20px;
margin: 20px auto;
}


.date{
color: #3498db;
Letter-spacing: 0.2em;
text-transform:uppercase;
}


h2{
font-size: 2.0rem;
font-weight: bold;
color: #2c3e50;
}


